.settings {
    position: sticky;
    top: 1rem;
    left: 1rem;
    width: 8rem;
}

.settings-icon img {
    width: 100%;
    height: 100%;
}

.settings > button {
    width: 4.5rem;
    height: 4.5rem;
    background-color: transparent;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

@keyframes spin-animation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes shrink-animation {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
}

.settings:hover > .settings-icon {
    cursor: pointer;
    animation: spin-animation 3s infinite linear;
}

.settings-icon:hover + .settings-popover,
.settings-popover:hover {
    visibility: visible;
}

.settings-popover {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    visibility: hidden;
    position: absolute;
    /* bottom: -1rem; */
    left: 100px;
    z-index: 1;
    background-color: #fff;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    transition: all 0.5s ease 0s;
}

/* .settings-popover:not(:hover) {
    animation: shrink-animation 2.2s linear;
} */

.settings-popover button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
